<mat-nav-list>
  <mat-list-item>
    <a
      href="/dashboard"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="menu-list"
    >
      <mat-icon>dashboard</mat-icon><span class="menu-title">Dashboard</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      href="/users"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="menu-list"
    >
      <mat-icon>people</mat-icon><span class="menu-title">Users</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      href="/category"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="menu-list"
    >
      <mat-icon>category</mat-icon><span class="menu-title">Category</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a
      href="/products"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      class="menu-list"
    >
      <mat-icon>inventory</mat-icon><span class="menu-title">Products</span>
    </a>
  </mat-list-item>
</mat-nav-list>
