<mat-nav-list>
  <mat-list-item [routerLink]="'/dashboard'">
    <div class="menu-list">
      <mat-icon>dashboard</mat-icon><span class="menu-title">Dashboard</span>
    </div>
  </mat-list-item>
  <mat-list-item [routerLink]="'/users'">
    <div class="menu-list">
      <mat-icon>people</mat-icon><span class="menu-title">Users</span>
    </div>
  </mat-list-item>
  <mat-list-item [routerLink]="'/category'">
    <div class="menu-list">
      <mat-icon>category</mat-icon><span class="menu-title">Category</span>
    </div>
  </mat-list-item>
  <mat-list-item [routerLink]="'/products'">
    <div class="menu-list">
      <mat-icon>inventory</mat-icon><span class="menu-title">Products</span>
    </div>
  </mat-list-item>
</mat-nav-list>
